body {
    background-color: rgb(128, 184, 233);
}

.container {
    background-color: aliceblue;
    width: 750px;
    border-radius: 9px;
}

.title {
    text-align: center;
}

#result {
    position: absolute;
    width: 450px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto; 
    border-radius: 4px;
    text-align: center;
    transition: 0.4s; /*アニメーション*/
}

#result.hidden {
    transform: translate(-1000px);
}

#result > p {
    font-size: 24px;
}

#result > a {
    display: block; /*インライン要素をブロック要素に*/
    text-decoration: none;
}